.historyButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.diagnosticsButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.header{
    margin-bottom: 30px;
}